@import url("colors.css");

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

#navbar p a {
    color: var(--socials-color);
    transition: color 0.3s;
}

#navbar p a.current {
    color: var(--primary-color)
}

#navbar p a:hover {
    color: var(--secondary-color); !important;
}

#navbar {
    padding: 40px;
}
