.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}



#navbar h2 a {
    color: #a6a6a6;
    transition: color 0.3s;
}

#navbar h2 a.current {
    color: #82AAED;
}

#navbar h2 a:hover {
    color: #5C63DF; !important;
}


#navbar {
    padding: 40px;
}
