.notfound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.notfound .full {
    max-width: 60%;  /* Adjust as needed */
    height: auto;
}

h1 {
    font-size: 20px;
    letter-spacing: 4px;
}

a {
    color: #82AAED;
    text-decoration: none;
    letter-spacing: 4px;
}

.notfound h1, .notfound a {
    letter-spacing: 4px;
    padding: 20px 0;  /* Adjust as needed */
}

