.notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.notfound .full {
  max-width: 60%;
  /* Adjust as needed */
  height: auto;
}

h1 {
  font-size: 20px;
  letter-spacing: 2px;
  color: var(--primary-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  letter-spacing: 2px;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--link-hover-color);
}

.notfound h1,
.notfound a {
  letter-spacing: 2px;
  padding: 20px 0;
}
