@font-face {
  font-family: 'Love Letter Typewriter';
  src: url('/fonts/LoveLetterTypewriter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 
* ABOUT ME CONTAINER
*/
.about-me-container {
  margin: 0 auto;
  padding: 0 0px;
  max-width: 800px;
  text-align: center;
  font-family: 'Love Letter Typewriter', monospace;
}

.about-me-container h2 {
  text-transform: none;
}
