:root {
    --background-color: #121217;
    --default-text-color: #f1eaea;
    --primary-color: #82AAED;
    --secondary-color: #5C63DF;
    --tertiary-color: #f5c2e7;
    --socials-color: #a6a6a6;
    --link-color: #b2a4fc;
    --link-hover-color: #e6a4fc;
}
