:root {
    --background-color: #11111b;
    --default-text-color: #f3f3f2;
    --primary-color: #82AAED;
    --secondary-color: #7E79C4;
    --tertiary-color: #9e8b8e;
    --socials-color: #a6a6a6;
    --link-color: #e6a4fc;
    --link-hover-color: #b2a4fc;
}
