{{ define "main" }}
<ul>
     {{ range .Pages }}
          <div class="blog-entry">
               <div>
                    <a class="blog-title" href="{{ .RelPermalink }}"><p>{{ .Title }}</p></a>
               </div>
               <div class="meta-data-container">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
               <div class="meta-data-container">{{ if .Params.tags }}<strong>Tags:</strong> {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
               <div class="meta-data-container">{{ if .Params.categories }}<strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
               <div class="meta-data-container">{{ if .Params.moods }}<strong>Moods:</strong> {{range .Params.moods}}<a href="{{ "/moods/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>

               <p>{{.Summary}}</p>

          </div>
     {{ end }}

</ul>
{{ end }}
