<nav id="navbar">
    <div class="articles">
        <article class="section">
            <p><a href="{{ "" | absURL }}" {{ if eq .RelPermalink "/" }}class="current"{{ end }}>H4PZ</a></p>
        </article>
        <article class="section">
            <p><a href="{{ "projects" | absURL }}" {{ if eq .RelPermalink "/projects/" }}class="current"{{ end }}>PROJECTS</a></p>
        </article>
        <article class="section">
            <p><a href="{{ "blog" | absURL }}" {{ if eq .RelPermalink "/blog/" }}class="current"{{ end }}>BLOG</a></p>
        </article>
        <article class="section">
            <p><a href="{{ "about" | absURL }}" {{ if eq .RelPermalink "/about/" }}class="current"{{ end }}>ABOUT</a></p>
        </article>
        <article class="section">
            <button id="theme-toggle" aria-label="Toggle theme">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 2v2"/><path d="M13 8.129A4 4 0 0 1 15.873 11"/><path d="m19 5-1.256 1.256"/><path d="M20 12h2"/><path d="M9 8a5 5 0 1 0 7 7 7 7 0 1 1-7-7"/></svg>
            </button>
        </article>
    </div>
</nav>

