<!DOCTYPE html>
<html>
<head>
    {{ partial "head.html" . }}
</head>
<body>
    <main class="row">
        <div class="column">
            <img id="randomImage" src="" alt="Random artistic image from h4pz collection" class="full">
        </div>
        <div class="column">
            <div id="rightinfo">
                <img class="logo" src="/images/h4pz_skull.jpg" alt="h4pz skull logo">

                <p class="socials">H  4  P  Z</p>
                <div class="articles">
                    {{ range .Pages.ByWeight }}
                        <article class="section">
                            <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
                        </article>
                    {{ end }}
                    <ul class="social-icons">
                        <li><a href="mailto:h4pz@me.pm"><img src="/images/social/email.png" alt="Email contact"></a></li>
                        <li><a href="https://twitter.com/h4pz"><img src="/images/social/twitter.png" alt="Twitter profile"></a></li>
                        <li><a href="https://github.com/h4pz"><img src="/images/social/github.png" alt="GitHub profile"></a></li>
                        <li><a href="https://twitch.com/h4pz"><img src="/images/social/twitch.png" alt="Twitch channel"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <script>
    var images = [
        {{ range (readDir "static/images/left_column") }}
            "{{ .Name }}",
        {{ end }}
    ];

    document.addEventListener('DOMContentLoaded', function() {
        var img = document.getElementById('randomImage');
        var randomIndex = Math.floor(Math.random() * images.length);
        img.src = '/images/left_column/' + images[randomIndex];
    });
    </script>
</body>
</html>

